<nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand" routerLink='/' routerLinkActive='active'>SnookerFans</a>
        <ul class="navbar-nav mr-auto">
            <ng-container *ngIf="authService.currentUser$ | async">
                <li *appHasRole='["admin"]' class="nav-item">
                    <a class="nav-link" routerLink='/players/create' routerLinkActive='active'>Create Player</a>
                </li>
                <li *appHasRole='["admin"]' class="nav-item">
                    <a class="nav-link" routerLink='/matches/create' routerLinkActive='active'>Create Match</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/players' routerLinkActive='active'>Players</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/matches' routerLinkActive='active'>Matches</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/ranking' routerLinkActive='active'>Ranking</a>
                </li>
            </ng-container>
        </ul>
        <div class="dropdown" *ngIf="(authService.currentUser$ | async) as user" dropdown>
            <a class="dropdown-toggle text-light ml-3" dropdownToggle>Welcome {{ user.userName | titlecase }}</a>
            <div class="dropdown-menu" *dropdownMenu>
                <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
        </div>

        <form *ngIf="(authService.currentUser$ | async) === null" [formGroup]='loginForm' class="d-flex"
            (ngSubmit)="loginForm.valid && login()" autocomplete="off">
            <app-text-input [formControl]='loginForm.controls["username"]' [label]='"Username"'></app-text-input>
            <app-text-input [formControl]='loginForm.controls["password"]' [label]='"Password"' [type]='"password"'>
            </app-text-input>
            <button [disabled]='!loginForm.valid' class="btn btn-outline-success" type="submit">Login</button>
        </form>
    </div>
</nav>